:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --main-color: #2196f3;
}

body {
  font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

p,
ul {
  padding: 0;
}

img {
  display: block;
}

.no-decoration {
  text-decoration: none;
  list-style-type: none;
}

.container {
  width: 1200px;
  align-items: center;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}


/* ======indexy=======*/
.header .container,
/*.navigation,*/
.navigation-list {
  display: flex;
  align-items: center;
}

.header .navigation {
  border-bottom: 1px solid #ececec;
}

.header .logo {
  margin-top: 24px;
  margin-right: 93px;
  margin-bottom: 25px;
  margin-left: 0;
}

.navigation-list-item:not(:last-child) {
  margin-right: 46px;
}

.header .contact-link:not(:last-child) {
  margin-left: auto;
  margin-right: 50px;
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--main-color);
}

.header {
  color: #212121;
}

.navigation-link {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 1.14;
  text-decoration: none;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link {
  color: #212121;
}

.navigation-link-active {
  color: var(--main-color);
}

.navigation-link-active::after {
  content: "";
  position:absolute;
  display: block;
  width: 100%;
  height: 4px;
  background: #2196F3;
  border-radius: 2px;
  top: 45px;
}
/* ===indexy===*/

/* ==========OKNO MODALNE===========*/
.backdrop{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.2);
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  transition: opacity 500ms linear;            
}

.modal{
  position: absolute;
  width: 528px;
  height: 581px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal-close{
  position: absolute;
  width: 30px;
  height: 30px;
  left: 490px;
  top: 8px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-sizing: border-box;
}

.modal-close-icon{
  margin: 0 auto;
}

.is-hidden{
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

}

.modal-banner{
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-bottom: 12px;
}

.modal-name,
.modal-phone,
.modal-email{
   position: relative;
   margin-bottom: 10px;
}

.modal-focus:focus-within{
  border-radius: 4px;
  fill: var(--main-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-text{
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal-form-field,
.modal-form-textarea{
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.modal-form-field:focus,
.modal-form-textarea:focus{
  border: 1px solid var(--main-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-form-field{
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  width: 100%;
  height: 40px;
}  

.modal-form-textarea{
  width: 100%;
  height: 120px;  padding: 12px 16px;
  resize: none;
}

.modal-form-textarea::placeholder{
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-icon{
  position: absolute;
  left: 12px;
  top: 29px;
}

.modal-policy{
  text-align: center;
  margin-top: 20px;
}

.modal-policy-text{
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-policy-link{
  color: var(--main-color);
}

.modal-policy-text::before{
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid #212121;
  border-radius: 4px;
  margin-right: 7px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  vertical-align: text-top;
}

.modal-policy-box:checked + .modal-policy-text::before{
  background-color: var(--main-color);
  border: none;
  background-image: url("./images/check.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.visually-hidden{
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.modal-policy-button{
  width: 200px;
  height: 50px;
  background: var(--main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  display: flex;  
  justify-content: center;  
  align-items: center;  
  margin: 30px auto 0;
}

.modal-policy-button-text{
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}


/* ========END OKNO MODALNE=========*/



/* =========portfolio==========*/
.services-list{
  display:flex;
  justify-content: center;
  margin-bottom: 56px;
}

.services-list-button:hover,
.services-list-button:focus {
  color: #ffffff;
  background-color: var(--main-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.services-list-button:hover {
  cursor: pointer;
}

.services-list-button {
  font-size: 16px;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.03em;
  background: #F5F4FA;
  border-radius: 4px;
  border: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
              background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), 
              cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.services-list li:not(:first-child){
  margin-left: 8px;
}

.services-list-button-text{
  padding: 6px 22px;
}

.services-gallery-description-type {
  font-size: 16px;
  color: #757575;
  padding-bottom: 20px;
}

.services-gallery-description-tittle {
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  padding-top:20px;
  margin-bottom: 4px;
}

.services-list-button,
.services-gallery-description-type {
  line-height: 1.88;
}

.services-gallery-description-tittle,
.services-gallery-description-type {
  letter-spacing: 0.06em;
  padding-left: 24px;
}

.services-gallery-description{
  border: 1px solid #EEEEEE;
  max-width: 370px;
}

.services-gallery-item:nth-child(-n + 6){
  margin-bottom: 30px;
}

.services-gallery {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}

.services-gallery-item{
  flex-basis: calc((100% - 90px) / 3);
}

.services-gallery-picture:hover{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.services-gallery-picture {
  background: #FFFFFF;
  margin:0 30px 0 0;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.services-gallery-picture-box{
  position: relative;
  overflow: hidden;
}

.services-gallery-picture-box-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.services-gallery-picture-box-overlay-text{
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  padding: 49px 45px 49px 24px;
}

.services-gallery-picture:hover .services-gallery-picture-box-overlay{
  transform: translate(0, 0)
}
/* ======portfolio=========*/


/*---------indexy artykułów-------------*/
.hero{
  background-color: #2F303A;
  background-image: 
    linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("./images/background-hero.png");
  background-size: cover;
  background-repeat: no-repeat;
}


.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-banner {
  color: #ffffff;
  font-size: 44px;
  line-height: 1.36;
  font-weight: 900;
  letter-spacing: 0.06em;
  flex-wrap: wrap;
  max-width: 696px;
  text-align: center;
  margin-top: 200px;
}

.hero-button:hover,
.hero-button:focus {
  color: #212121;
  background-color: #ffffff;
}

.hero-button:hover {
  cursor: pointer;
}

.hero-button {
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  background-color: var(--main-color);
  line-height: 1.88;
  font-weight: 700;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 40px;
  margin-bottom: 200px;

}

.hero-button-text {
  padding: 10px 41px 10px 42px;
}
/*-------indexy artykułów-----------*/

/*---------Sekcja nr 1----------*/
.about-us-list {
  display: flex;
  flex-wrap: wrap;
}

.about-us-item {
  flex-basis: calc((100% - 90px) / 4);
  padding-bottom: 30px;
}

.about-us-item:not(:first-child) {
  margin-left: 30px;
}

.about-us-tittle,
.about-us-text {
  font-size: 14px;
  letter-spacing: 0.03em;
}

.about-us-tittle {
  line-height: 1.88;
  font-weight: 700;
  margin-bottom: 10px;
}

.about-us-text {
  line-height: 1.71;
  color: #757575;
}

.about-us-banner {
  margin: 94px auto 50px;
  max-width: 353px;
  font-size: 36px;
  text-align: center;
  line-height: 1.16;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.about-us-gallery {
  display: flex;
  flex-wrap: wrap;
}

.about-us-gallery-item {
  flex-basis: calc((100% - 60px) / 3);
}

.about-us-gallery-item:not(:first-child) {
  margin-left: 30px;
}

.about-us-rectangle{
  width: 270px;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-us-gallery-item{
  flex-basis: calc((100% - 60px) / 3);
  position:relative;
}


.about-us-gallery-item-box{
  position: absolute;
  width: 370px;
  height: 70px;
  /*left: 215px;
  top: 1435px;*/
  background: rgba(47, 48, 58, 0.8);
  bottom: 0;
}

.about-us-gallery-item-text{
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 27px;
}



/*------Sekcja nr 1----------*/

/*----------Sekcja nr 2----------*/
.team{
  background-color: #F5F4FA;
}

.team-banner{
  margin: 0 auto 50px;
  max-width: 211px;
  font-size: 36px;
  line-height: 1.16;
}

.team-description{
  font-size: 16px;
  line-height: 1.19;
}

.team-banner,
.team-description{
  text-align: center;
  letter-spacing: 0.03em;
}

.team-banner,
.team-description-name{
  font-weight: 700;
}

.team-description-job{
  color: #757575;
  margin-top: 10px;
}

.team-description-name{
  margin-top: 30px;
}

.team-gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team-gallery-item-item{
  margin: 0;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-gallery-item-item{
  flex-basis: calc((100% - 90px) / 4);
}

.team-gallery-item:not(:first-child){
  margin-left: 30px; 
}

.team-description-icons{
  display:flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 30px;
}

.team-description-icons-item:not(:last-child){
  margin-right: 10px;
}

.team-description-icons-link{
  display: block;
  height: 44px;
  width: 44px;
  background-color: #FFFFFF;
  border-radius: 50%;
  display:flex;
  justify-content:center;
  align-items: center;
  fill: #AFB1B8
}

.team-description-icons-link:hover,
.team-description-icons-link:focus{
  background-color: var(--main-color);
  fill: #FFFFFF;
}

/*-------Sekcja nr 2---------*/

/*---------Sekcja nr 3----------*/
.clients-banner {
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  padding-bottom: 50px;
}
.clients-list{
display: flex;
flex-wrap:wrap;
}

.clients-rectangle{
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #AFB1B8;
}

.clients-rectangle:hover,
.clients-rectangle:hover{
  border: 1px solid var(--main-color);
  fill: var(--main-color);
}

.clients-item{
  flex-basis: calc((100% - 150px) / 6);
}

.clients-item:not(:first-child){
  margin-left: 30px;
  margin-right:0;  
}

/*-------Sekcja nr 3 ---------*/


/* ====Footer i portfolio=====*/
.footer {
  background-color: #2f303a;
}

.contact {
  display: flex;
  flex-direction: column;
}

.footer .logo {
  margin-top: 60px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: 0;
}

.footer .contact-place,
.footer .contact-link:not(:last-child) {
  margin-right: auto;
  margin-bottom: 9px;
}

.footer .contact-link:last-child {
  margin-right: auto;
  margin-bottom: 60px;
}

.footer .container,
.footer-form,
.footer-form-button{
  display: flex;
}

.footer .container{
display: flex;
}

.media{
  padding-left: 70px;
}

.media-banner{
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.media-icons{
  display:flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 30px;
}

.media-icons-item:not(:last-child){
  margin-right: 10px;
}

.media-icons-link{
  display: block;
  height: 44px;
  width: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display:flex;
  justify-content:center;
  align-items: center;
  fill: #FFFFFF;
}

.media-icons-link:hover{
  background-color: var(--main-color);
  fill: #FFFFFF;
}



.footer-form{
  justify-content: flex-end;
  margin-left: auto;
}

.footer-form-label{
  align-items: flex-start;
}

.footer-form-field{
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2F303A;
  margin-top: 20px;
  padding-left: 16px;
  outline: none;
}

.footer-form-field::placeholder{
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-button{
  width: 200px;
  height: 50px;
  background: var(--main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  align-items: center;
  margin-left: 12px;
  align-self: flex-end;
}

.footer-form-button-text{
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  padding-left: 36px;
  padding-right: 18px;
}

.footer-form-button-icon{
  fill: #FFFFFF;
}
/* ===Footer i portfolio==*/

/* =============componenty===============*/
.logo {
  font-size: 26px;
  line-height: 1.2;
  color: #212121;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.logo-first {
  color: var(--main-color);
}

.contact-link-item{
margin-right: 10px;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--main-color);
    fill: var(--main-color);
}

.contact-link {
  letter-spacing: 0.02em;
  line-height: 1.14;
  text-decoration: none;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  color: #757575;
  display: flex;
  align-items: center;
  fill: #757575
}

.contact-place {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.logo-second,
.contact-place {
  color: #ffffff;
}

.hero-banner,
.about-us-tittle {
  text-transform: uppercase;

 
/* ===========componenty============*/




/*-------ikonki---------*/


.clients-banner{
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  padding-bottom: 50px;


.social-links {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.2em;
  color: #303030;
}

.social-links_link-hover .social-links_link:focus {
  color: var(--main color);
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social-list_link {
  display: block;
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 50%;
}

.social-icon-i {
  width: 10.28px;
  height: 10.28px;
}

.social-icon-t {
  width: 20px;
  height: 16.25px;
}

.social-icon-f {
  width: 10px;
  height: 20px;
}

.social-icon-l {
  width: 4.15px;
  height: 13.35px;
}

.social-icon:hover,
.social-icon:focus {
  fill: var(--main-color);
}
/*-------ikonki---------*/

