.team {
  background-color: $teamBackgroundColor;

  &__banner {
    margin: 0 auto 50px;
    max-width: 211px;
    font-size: 36px;
    line-height: 1.16;
  }

  &__description {
    font-size: 16px;
    line-height: 1.19;
  }

  &__banner,
  &__description {
    text-align: center;
    letter-spacing: 0.03em;
  }

  &__banner,
  &__employee-name {
    font-weight: 700;
  }

  &__job-name {
    color: $fontSecondaryColor;
    margin-top: 10px;
  }

  &__employee-name {
    margin-top: 30px;
  }

  &__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__picture {
    margin: 0;
    background: $neutralColor;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    flex-basis: calc((100% - 90px) / 4);
  }

  &__box--margin-left {
    margin-left: 30px;
  }
}
